body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../pozadina.jpg");
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../pozadina.jpg");
    color: white;
}
select, input{
    width: 150px;
    margin: 0 auto;
    background: none;
    color:white;
    border: none;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    transition: border-bottom 0.4s, border-radius 0.2s linear, border-right 0.7s, color 0.4s;
}
select:hover, input:hover{
    border-bottom: solid 1px rgb(30, 2, 190);
    border-right: solid 1px rgb(30, 2, 190);
    background: none;
    color: rgb(53, 41, 219);
    border-radius: 0px 0px 5px 0px;
}
td:first-child{
    text-align: right;
    transition: color 0.4s;
}
tr:hover>td{
    color: rgb(53, 41, 219);
}
td{
    padding-bottom: 10px;
}
table{
    width: 400px;
    margin: 0 auto;
    border: solid 1px grey;
    border-radius: 15px;
    border-top: none;
}
@media (max-width: 600px){
    table, td{
        width: 154px;
        display: block;
        margin: 0 auto;
    }
    td{
        float: none;
        width: 100%;
    }
    td:first-child{
        text-align: center;
    }
    select, input{
        margin-bottom: 20px;
    }
}