table{
    border-collapse: collapse;
    margin: 0 auto;
}
td{
    border: solid 1px white;
    text-align: center;
    width: 130px;
    height: 35px;
    transition: color 0.5s;
}
tr:hover{
    border: solid 2px white;
    color: cyan;
}
