table{
    margin: 0 auto;
    border-collapse: collapse;
}
td{
    box-sizing: content-box;
    border: solid 1px white;
    text-align: center;
    width: 150px;
    height: 35px;
    transition: color 0.5s;
}
tr:hover{
    border: solid 2px white;
    color: cyan;
}
